* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  padding: 12px;
  padding-bottom: 25px;
  font-size: 15px;
  text-align: center;
  background-color: #283955;
  color: aliceblue;
}
.lectures-container {
  display: flex;
  flex-direction: column;
}
.Logic-container {
  background-color: #a3a3a3;
  padding: 45px;
}
.Logic {
  text-align: center;
}
.computer-container {
  background-color: #94a3b8;
  text-align: center;
  padding: 45px;
}
.network {
  background-color: #0e7490;
  text-align: center;
  padding: 45px;
}
.programming {
  background-color: #1e40af;
  padding: 45px;
  text-align: center;
}
.Mathematics {
  background-color: #172554;
  padding: 45px;
  text-align: center;
}
.Humane {
  background-color: #5b21b6;
  padding: 45px;
  text-align: center;
}
.عربي {
  background-color: #818cf8;
  padding: 45px;
  text-align: center;
}
a {
  text-decoration: none;
}
h1 {
  color: aliceblue;
  margin-bottom: 16px;
}
